<!-- 
<div>
    <label > Select a city :  </label>
    <select name="city" [(ngModel)]="city"  (change)="selectCity(city)" >
        <option *ngFor="let city of cities" value="{{city.Name}}" >{{city.Name}}</option>
    </select>
    <app-stations [cityStations]='selectedStations' [cityName]="selectedCity"></app-stations>
</div>  -->

<!-- <div>
    <img src="{{myimage}}" (click)="Change()">
</div>  -->

 <!-- <div class="stations">
    <h5> <b> {{city}}</b> Stations :</h5>
    </div>    -->


<div class="main-contant">
    <div>
        <label > Select a city :  </label>
        <select (change)="onChange($event)" name='cities'>
            <option *ngFor='let city of cities' value='{{city.Name}}'>{{city.Name}}</option>
        </select>
        <app-stations [cityStations]='selectedStations'  [cityName]="selectedCity">{{city}}</app-stations>
    </div>
</div> 


